# Ignore project files
.settings
.gradle
.classpath
.project
.idea

*.iml

# Ignore Gradle build output directory
build
.scannerwork
tokens
bin
gradle
target
.allure
allure-results

mvn clean deploy
mvn nexus-staging:release
mvn nexus-staging:drop
